* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica;

}
    /*       home               */
.gradient-div {
    height: 820px;
    position: relative;
    border: none;
    overflow: hidden;
}

.foreground-image {
    width: 20%;
    height: 25%;
    position: absolute;
    top: 50%;
    z-index: 3;
    opacity: 0.1;
    left: 54%;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(55.25, 55.25, 55.25,1) 0%, rgb(20.19, 20.19, 20.19) 100%);
    z-index: 2;
    overflow: hidden;
}

.circle {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.02);
    border-radius: 50%;
    border: 3px solid rgba(51, 94, 70, 0.3);
    width: 75%;
    height: 135%;
    top: -20%;
    left: -10%;
    z-index: 3;

}

.home_container {
    display: flex;
    /* height: 100vh; */
    width: 100%;
    /* background-color: rgb(100, 85, 85); */
    position: absolute;
    z-index: 4;
}

.left-side {
    /* flex: 1; */
    display: flex;
    max-height: 100px;
    width: 90%;
    /* background-color: #FFC107; */
    /* Yellow */
    position: relative;
    /* Add this line */
}

.right-side {
    height: 820px;
    /* background-color: #FFC107; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navbar {
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 50px;
    font-size: 20px;
}

.logo {
    margin-left: 60px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.text {
    height: 700px;
    width: 70%;
    position: absolute;
    top: 100px;
    left: 5%;
    padding-top: 30px;
    color: white;
    /* border: 1px solid red; */
}

.text h1 {
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 10px;

}

.text span {
    color: green;
}

.text h6 {
    font-size: 37px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.text p {
    font-size: 18px;
    margin-top: 40px;
    margin-right: 50%;
    line-height: 25px;
    letter-spacing: 1px;
}

.text button {
    height: 50px;
    width: 230px;
    background-color: #389d59;
    border: none;
    font-size: 25px;
    letter-spacing: 3px;
    border-radius: 10px;
    margin-top: 70px;
    color: white;
}
.text button:hover
{
    color: black;
    cursor: pointer;
}

.text a {
    text-decoration: none;
    color: white;

}



.vertical-div1 {
    height: 50%;
    /* width: 100%; */
    background-color:#389d59;
    /* Green */
    height: 50%;
    width: 100%;
    /* padding-top: 40px; */
background-color:#389d59;            
display: flex;
flex-wrap: wrap;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-div2 {
    height: 50%;
    width: 100%;
    padding-top: 40px;
    background-color: #272727;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-div2 i {
    margin-bottom: 40px;
    font-size: 40px;
    /* Adjust the font size as needed */
}


.horizontal-line {
    width: 35px;
    height: 4px;
    background-color: #000;
    margin-bottom:7px;
    /* Color of the lines */
    /* margin: 30px 0 0 60px; */
    /* Adjust the margin as needed */
} .horizontal-line2 {
    width: 35px;
    height: 4px;
    margin: 0 0 0 7px;
    background-color: #000;
    
}
.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 24px;
    top: 50px;
    margin: 40px 60px 0 55px;
    font-size: 33px;
    transform: rotate(180deg);
}

/*    about      */
.about_container
    { 
      background-color: rgba(0, 0, 0, 0.8);
        padding: 70px 0;
        border-top: 2px solid green;

    }
    .about_container .outer-div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
 
  }
  .about_container h1
  {
    color:#4fd57c;;
    letter-spacing: 10px;
    margin-left: 100px;
    font-size: 3rem;
  }
  .about_container .inner-div {
    /* flex: 1; */
    padding: 10px;
    background-color: #252525; 
    color: #fff; 
    border-radius: 54px;
    border: 1px solid rgba(79, 213, 124, 0.32);
  box-shadow: 0px 1px 100px 4px #40ec7933;    
    margin:55px 0 30px 10px ;
    width: calc(100% - 20px);
  }

  .about_container .inner-div:first-child {
    background-color: #252525;
    margin-right: 10px;
    padding: 50px 150px 30px 80px;
    width: calc(80% - 20px);
  }
  .about_container .inner-div:first-child h4{
    margin-bottom: 20px;
    color: #4fd57c;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
  /* .about_container .inner-div:first-child p{
    margin-bottom: 20px;
    letter-spacing: 2px;
    margin-bottom: 50px;
  } */
  .about_container .inner-div:last-child {
    background-color: #252525;
    /* flex: 1; Adjusting width of the second inner div */
    width: calc(20% - 20px);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    flex-direction: column; /* Arrange child elements in a column */
  }

  .div-wrapper {
    /* height: 25%; */
    text-align: center;
    width: 90%;
    padding: 15px 30px;
    margin: 15px auto; 
    color: white;
    border-radius: 30px;
  background: linear-gradient(180deg, rgba(79, 213, 124, 0.32) 0%, rgba(56, 157, 89, 0.03) 91.15%);
  }


/*    services    */
#services {
    /* height: 400px; */
    padding:20px 0 70px 0;
    color: white;
    text-align: center;
    font-family: "Poppins", Helvetica;
    background: linear-gradient(480deg, rgb(37, 37, 37) 0%, rgb(16, 111, 48) 100%);
}

#services h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    letter-spacing: 7px;
}

.heading {
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.service_container 
{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
}
.service_box
{
    position: relative;
    width: calc(32% - 10px);
    margin:  10px;
    background-color:white;
    color: black;
    padding: 50px 50px;
    border-radius: 20px;
}
.service_box h5
{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 550;
    text-align: left;
    letter-spacing: 1px;
}
.service_box p
{
    margin-bottom: 40px;
    line-height: 18px;
    font-size: 12px;
    text-align: start;
}
.service_box:hover
{
    background: linear-gradient(to bottom right, rgb(37, 37, 37) 0%, rgb(56, 157, 89) 100%);
    border: 1px solid rgb(155, 151, 151);
}
.service_btn {
    visibility: hidden;
    position: absolute;
    text-decoration: none;
    height: 40px;
    width: 200px;
    font-size: 13px;
    color: black;
    background: white;
    text-align: center;
    padding: 12px;
    letter-spacing: 3px;
    border-radius: 50px;
    bottom: 30px; 
    left: 70px;
}
.service_btn:hover
{
    background: linear-gradient(to left, rgb(37, 37, 37) 0%, rgb(56, 157, 89) 100%);
}
.service_box:hover .service_btn
{
    visibility: visible;
}


/* testimonial */
.testimonial {
    text-align: center;
    background: #111111;
    color: #fff;
    padding: 30px 30px;
}

.carousel {
    height: 600px;
    perspective: 250px;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 54px;
/* box-shadow: 0px 1px 100px 4px #389d5933; */

    /* text-align: center; */

}
/* 
.carousel::before,
.carousel::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(66, 221, 162, 0.5);
}

.carousel::before {
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    border-right: none;
    border-bottom: none;
}

.carousel::after {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 15%;
    border-left: none;
    border-top: none;
} */

.carousel .carousel-item {
    width: 450px;
    background: #fff;
    padding: 70px 50px;
    height:auto;
    text-align: center;
    border-radius: 15px;
    /* border: 1px solid red; */
}

.img-area {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #389D59;
}

.img-area .testi_img {
    width: 100%;
    height: 100%;
}

.testi p {
    color: #262626;
    font-size: 18px;
    line-height: 1.9;
    margin: 15px 0 10px 0;
}

.testi h4 {
    font-size: 20px;
    margin: 0;
    color: #000;
}
.heading2
{
    letter-spacing: 3px;
    color: #389D59;
    margin-top: -10px;
}
/* .testi h5 {
    font-size: 14px;
    letter-spacing: 5px;
    margin: 7px 0;
} */

/*    trustus   */
#trustus {
    background: #252525;
    border-top: 2px solid green;
    background-image: radial-gradient(rgba(55, 144, 85, 0.32) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    padding: 90px 0;
}

#trustus .inner-div {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    color: white;
    text-align: center;
    border-radius: 54px;
    border: 1px solid ;
    border-image: linear-gradient(to bottom, rgba(56, 157, 89, 0.32), rgb(37, 37, 37)) 1;
    /* background: linear-gradient(180deg,
            rgb(55.25, 55.25, 55.25) 0%,
            rgb(55.25, 55.25, 55.25) 8%,
            rgb(55.25, 55.25, 55.25) 3%,
            rgb(56, 157, 89) 2%,
            rgb(56, 157, 89) 2%); */
    background: linear-gradient(to right bottom,
            rgb(55.25, 55.25, 55.25) 0%,
            rgb(55.25, 55.25, 55.25) 38.79%,
            rgb(55.25, 55.25, 55.25) 41.19%,
            rgb(56, 157, 89) 99%,
            rgb(56, 157, 89) 20%);
}
.trust_text
{
    color: #389D59;
    margin-top: -20px;
    font-size: 15px;
    letter-spacing: 2px;
}
/* #trustus .inner-div h1 {
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#trustus .inner-div p {
    letter-spacing: 1px;
} */

#trustus .inner-div2 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.box {
    width: calc(25% - 10px);
    margin: 25px 0;
}

.box img {
    height: 150px;
    width: 250px;
}

.text-wrapper {
    margin-bottom: 10px;
}

.try-out-button {
    margin: auto;
    display: flex;
    border: none;
    padding: 20px 25px 20px 120px;
    text-align: center;
    justify-content: space-between;
    width: 320px;
    height: 62px;
    border-radius: 63px;
    box-shadow: -1px 7px 16px #262a271a, -4px 28px 28px #262a2717, -9px 63px 38px #262a270d, -16px 112px 45px #262a2703,
        -25px 175px 49px transparent;
    background: linear-gradient(280deg,
            rgb(56, 157, 89) 0%,
            rgb(55.38, 73.36, 61.26) 82.2%,
            rgb(55.25, 55.25, 55.25) 100%);
}

 /* contact */
 #contact {
    background: linear-gradient(480deg, rgb(37, 37, 37) 0%, rgb(16, 111, 48) 100%);
            padding: 50px 0 80px 0; 
            color: white;
            border-bottom:2px solid #00bf63;
        }

        .contact {
            text-align: center;
            width: 90%;
            margin: auto;
            /* background-color: white; */
            padding: 10px;
        }

        .contact-desc {
            display: flex;
            flex-wrap: wrap;
            /* border: 1px solid black; */
            margin-top: 70px ;
        }

        .contact-box {
            flex-basis: 45%;
            line-height: 50px;
            text-align: start;
        }
        .form
        {
            flex-basis: 55%;
        }

        .contact-box h3 {
            font-size: 25px;
            margin-bottom: 10px;
        }

.contact-box h4
{
        margin: 0 0 15px 12px;
  
}
        .contact-box a {
            font-size: 20px;
            color: white;
        }

        .contact-box .icon {
            margin-left: 20px;
            
        }

        .contact-box i {
            margin-right: 20px;
            font-size: 30px;
            color: rgb(0, 191, 99);
        }
        .form-field {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;  
            margin-bottom: 10px;
        }

        .form-field input[type="text"],
        .form-field input[type="email"],
        .form-field textarea {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 10px;
            margin-bottom: 10px;
            background: #f6f6f6;
        }

        .form-field textarea {
            resize: vertical;
        }

        .form-field button[type="submit"] {
            background-color: #00bf63;
            color: white;
            font-size: 15px;
            border: none;
            padding: 10px 20px;
            border-radius: 50px;
            cursor: pointer;
        }
        

        


/* @media screen and (max-width: 990px) {
    
}
@media screen and (max-width: 650px) {
    .gradient-div {
    height: 84vh;
    }
    .vertical-div2
    {
        display: none;
    }
    .vertical-text
    {
        display: none;
    }
    .vertical-div1
    {
        height: 70px;
        width: 100px;
        padding-right: 20px;
    }
    .navbar
    {
        visibility: hidden;
    }
    .logo
    {
        visibility: visible;
        margin-left: 20px;
    }
    .circle
    {
        width: 100%;
    }
    .text
    {
        width: 100%;
    }
    .text h1
    {
        font-size: 70px;
    letter-spacing: 1px;
    }
    .text h6 {
    font-size: 22px;
    letter-spacing: 0;
    margin-top: 30px;
}

.text p {
    font-size: 15px;
    margin-top: 40px;
    margin-right: 20%;
    line-height: 25px;
    letter-spacing: 1px;
}
.text button {
    height: 30px;
    width: 110px;
    font-size: 10px;
    margin: 40px 0 0 20px;
} 
}
@media screen and (max-width: 500px) {
    .gradient-div {
    height: 53vh;
    }
    .circle
    {
        visibility: hidden;
    }
    .text h1
    {
        font-size: 50px;
    letter-spacing: 1px;
    }
    .text h6 {
    font-size: 19px;
    letter-spacing: 0;
    margin-top: 20px;
}

.text p {
    font-size: 10px;
    margin-top: 20px;
    line-height: 15px;
}
.text button {
    height: 30px;
    width: 100px;
    font-size: 10px;
    margin: 15px 0 0 20px;
} 

} */